<!-- 导航条 -->
<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
	<div class="container-fluid">
	<!-- 导航logo -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img style="display:inline" width="30px" src="__ADMINS__/img/1.png" alt="">   联想后台管理系统</a>
		</div>

	<!-- 出logo以外 -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-refresh"></span>清除缓存</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">后台管理<span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Admin</a></li>
				    <li><a href="#" data-toggle="modal" data-target="#editPass">修改密码</a></li>
				    <li><a href="#">前台首页</a></li>
				    <li><a href="#">退出</a></li>
				  </ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>