<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>童老师ThinkPHP交流群：484519446</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='images/js/ismobile.js'></script>
	<link href="http://www.topthink.com/Public/static/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
{include file="common/header" /}

<!--顶部通栏-->


<div class="position"><a href="{:url('index/index')}">主页</a> > <a href="{:url('cate/index',array('cateid'=>$cates.cateid))}">{$cates.catename}</a> >  </div>

<div class="overall">

	<div class="left">
		{volist name="article" id="vo"}
		<div class="xnews2">
				<div class="pic"><a target="_blank" href="{:url('article/index',array('articleid'=>$vo['id']))}">
					<img src="{if condition="$vo['pic'] neq ''"}__IMG__{$vo.pic}{else/}__PUBLIC__/images/error.png{/if}"/></a></div>
				<div class="dec">
				<h3><a target="_blank" href="{:url('article/index',array('articleid'=>$vo['id']))}">{$vo.title}</a></h3>
				<div class="time">发布时间：{$vo.time|date="Y-m-d",###}</div>
				<p>{$vo.desc} </p>
				<div class="time">

					<?php
					//按逗号分隔关键词
					$arr=explode(',',$vo['keywords']);
					    foreach($arr as  $key=>$v)
					{
					echo"<a href='http://127.0.0.1/TP5/public/index.php/index/search/index?keywords=$v'> $v</a>";
					}
					?>

				</div>
				</div>
		</div>
		{/volist}
					{$article->render()}

	</div>
	{include file="common/right"/}
</div>
{include file="common/foot"/}

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
</html>