<!-- 菜单 -->
	<div class="col-md-2">

		<!-- 管理员管理-->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-user"></span> 管理员管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="./user/index.html">管理员列表</a></li>
			 	
			</ul>
		</div>
		<!-- 会员管理 -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-user"></span> 会员管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="./user/index.html">会员列表</a></li>
			 	
			</ul>
		</div>


		<!-- 分类管理 -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-tasks"></span> 分类管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="">分类列表</a></li> 	
			</ul>
		</div>
		<!-- 商品管理 -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-gift"></span> 商品管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="">商品列表</a></li> 	
			</ul>
		</div>
		<!-- 订单管理 -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> 订单管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="">订单列表</a></li> 	
			</ul>
		</div>
		<!-- 评论管理 -->、
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> 评论管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="">评论列表</a></li>	
			</ul>
		</div>

		<!-- 系统管理 -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-certificate"></span> 系统管理</h2>
			</div>
			<ul class="list-group">
			    <li class="list-group-item"><a href="">系统配置</a></li>
			    <li class="list-group-item"><a href="">轮播图管理</a></li>
			    <li class="list-group-item"><a href="">广告管理</a></li>
			 	
			</ul>
		</div>
	</div>