<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>系统变量</h1>
	<h1>{//$_GET['id']}</h1>
	<h1>{/*$Think.get.id*/}</h1>
	<h1>{$_SERVER['HTTP_HOST']}</h1>
	<h1>{$Think.SERVER.http_host}</h1>

	<h1>常量输出</h1>
	<h1>{$Think.const.app_path}</h1>
	<h1>{$Think.app_path}</h1>
	<h1>{$Think.ds}</h1>
	<h1>{$Think.think_path}</h1>
	<h1>{$Think.IS_WIN}</h1>
	<h1>{$Think.THINK_VERSION}</h1>

	<h2>配置文件输出</h2>
	<h2>{$Think.config.app_namespace}</h2>
	<h2>{$Think.config.default_lang}</h2>
</body>
</html>